@model HOSPITAL2.Models.patient


@{
    ViewBag.Title = "Create";
}
<h2>حجــــز</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>كشــــف</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Id_dep, "Id_dep", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.deplist != null)
                {
                    @Html.DropDownListFor(m => m.Id_dep, ViewBag.deplist as SelectList, "---select-dep---", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Id_Doc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Id_Doc, new SelectList(" "), "---select-Doc---", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Id_Doc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(m => m.User_Id)
            @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-default">Create</button>

            </div>
        </div>
        <div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Id_dep").change(function () {
            $.get("/Patients/getdoc", {
                dep_id:
                    $("#Id_dep").val()
            }, function (data) {
                $("#Id_Doc").empty();
                $.each(data, function (index, row) {
                    $("#Id_Doc").append("<option value ='" + row.Id + "'>" + row.Name + "</option>");
                });
            });
        })
    });
</script>